extends layout

block content
  #banner.page-header
    .row
      .col-lg-6
        h1= pageHeader.title
          small &nbsp;#{pageHeader.strapline}
  .row
    .col-xs-12.col-sm-8
      p.lead Последние записи
        .row.list-group
        each day in days
          .col-xs-12.list-group-item
            strong= day.date
            p.small= day.summary